@{
    ViewData["Title"] = "Home Page";
}
@model Dish
<div class="text-center">
    <div class="container">
        <h1 class="display-4">Welcome to CRUDelicious</h1>
        <form asp-action="UpdateDish" asp-controller="Home" method="post">
            <div class="row">
                <div class="col-sm">
                    <div>
                        <span asp-validation-for="Chef"></span>
                        <label asp-for="Chef"></label>
                        <input asp-for="Chef">
                    </div>
                    <div>
                        <span asp-validation-for="Name"></span>
                        <label asp-for="Name"></label>
                        <input asp-for="Name">
                    </div>
                    <div>
                        <span asp-validation-for="Calories"></span>
                        <label asp-for="Calories"></label>
                        <input asp-for="Calories">
                    </div>
                </div>
                <div class= "col-sm">
                    <span asp-validation-for="Tastiness"></span>
                    <label asp-for="Tastiness"></label>
                    <select asp-for="Tastiness">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class= "col-sm">
                    <span asp-validation-for="Description"></span>
                    <label asp-for="Description"></label>
                    <input asp-for="Description">
                    <input type="hidden" id="dishId" name="dishId" value="@Model.DishId">
                    <input type="submit" value="Edit Dish">
                </div>
            </div>
        </form>
    </div>
</div>
